{{- $textStyle := .Params.textStyle }}
<div class="title-wrapper has-text-centered">
  <h2 class="title is-2 is-spaced {{ with $textStyle }}{{ . }}{{ end }}">{{ .Title }}</h2>
  {{ if isset .Params "subtitle" }}
  <h3 class="subtitle is-5 {{ with $textStyle }}{{ . }}{{ else }}is-muted{{ end }}">
    {{- .Params.subtitle -}}
  </h3>
  {{ end }}
</div>

<div class="content-wrapper">
  <div class="columns is-vcentered">
    {{- range .Params.clients }}
    <div class="column is-4">
      <figure class="testimonial">
        <blockquote>
          {{ .quote }}
        </blockquote>
        <div class="author">
          <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
          <h5>{{ .name }}</h5>
          <span {{ with $textStyle }}class="{{ . }}"{{ end }}>{{ .job }}</span>
        </div>
      </figure>
    </div>
    {{- end }}
  </div>
</div>