{{- $textStyle := .Params.textStyle }}
<div class="title-wrapper has-text-centered">
  <h2 class="title is-2 {{ with $textStyle }}{{ . }}{{ end }}">{{ .Title }}</h2>
  {{ if isset .Params "subtitle" }}
  <h3 class="subtitle is-5 {{ with $textStyle }}{{ . }}{{ else }}is-muted{{ end }}">
    {{- .Params.subtitle -}}
  </h3>
  {{ end }}
  <div class="divider is-centered"></div>
</div>

<div class="content-wrapper">
  <div class="columns">
    {{- range .Params.tiles }}
    <div class="column is-one-third">
      <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
        <div class="card-title">
          <h4>{{ .title }}</h4>
        </div>
        <div class="card-icon image">
          {{ printf "/static/images/illustrations/icons/%s.svg" .icon | readFile | safeHTML }}
        </div>
        <div class="card-text">
            <p>{{ .text }}</p>
        </div>
        <div class="card-action">
          <a {{ with .url }}href={{ . }} {{ end -}}
             {{ with .target }}data-target={{ . }} {{ end -}}
             class="button btn-align-md accent-btn raised{{ with .class }} {{ . }}{{ end }}">{{ .buttonText }}</a>
        </div>
      </div>
    </div>
    {{- end }}
  </div>
</div>