<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      {{- range .Site.Params.footer }}
      <div class="column">
        {{- if eq (printf "%T" .) "string" }}
        <div class="footer-column">
          {{ markdownify . }}
        </div>
        {{- else if .logo }}
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s.svg" .logo | relURL }}">
        </div>
        {{- else }}
        <div class="footer-column">
          {{- if (or .title .social .bulmalogo) }}
          <div class="footer-header">
            {{- with .title }}<h3>{{ . }}</h3>{{ end }}
            {{- with .social }}
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range . }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>
            {{- end }}
            {{- if .bulmalogo }}
            <a href="https://bulma.io" target="_blank">
              <img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="128" height="24">
            </a>
            {{- end }}
          </div>
          {{- end }}
          {{- with .links }}
          <ul class="link-list">
            {{- range . }}
            <li>
              <a href="{{ .link }}">
                {{ .text }}
              </a>
            </li>
            {{- end }}
          </ul>
          {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
    </div>
  </div>
</footer>
